#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 10px;
}

#editor {
    width: 39%;
    background-color: rgb(172, 231, 231);
    height: 300px;

}


#preview {
    width: 50%;
    background-color: rgb(172, 231, 231);
    padding: 20px;
    line-height: 1.8;
}

